<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.recluse.xicor.taskshouter">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".LauncherActivity"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InsertTaskActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".IntervalActivity"
            android:theme="@style/ActivityDialog" />
        <activity
            android:name=".UpdateTaskActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize" />


        <service
            android:name=".ReminderNotif"
            android:icon="@drawable/ic_volume_up_black_speak_test"
            android:label="ReminderNotif" />

        <receiver android:name=".RemStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ITOutsideActivity" android:theme="@style/ActivityDialog" android:taskAffinity="" android:excludeFromRecents="true" android:launchMode="singleTask"></activity>
    </application>

</manifest>